.titulo {
    width: 400px;
    height: auto;
    position: absolute;
    right: 650px;
    bottom: 300px;
}

.texto {
    font-size: small;
    text-align: justify;
    width: 380px;
    position: absolute;
    right: 650px;
    bottom: 200px;
}

.background {
    height: 600px;
    width: 606px;
    position: absolute;
    left: 743px;
    bottom: 40px;
}

.background2 {
    height: 600px;
    width: 606px;
    position: absolute;
    right: 743px;
    bottom: 900px;
}

.img1 {
    height: 400px;
    width: 350px;
    position: absolute;
    left: 850px;
    bottom: 130px;
}

.red {
    background-color: rgb(212, 43, 43);
    color: white;
    border-radius: 20px;
    border-color: rgb(212, 43, 43);
    height: 40px;
    width: 150px;
    font-size: smaller;
    position: absolute;
    right: 870px;
    bottom: 150px;
}

.white {
    background-color: rgb(255, 255, 255);
    color: rgb(37, 37, 156);
    border-radius: 20px;
    border: white;
    height: 40px;
    width: 150px;
    font-size: small;
    position: absolute;
    right: 700px;
    bottom: 150px;
}

.titulo2 {
    color: rgb(37, 37, 156);
    width: 285px;
    position: absolute;
    right: 750px;
    top: 650px;
}

.card-title {
    color: rgb(37, 37, 156);

}

.card-img-top {
    width: 70px;
    height: 70px;
    padding: 10px;

}

.card-text {
    color: rgb(37, 37, 156);

}

.cardWeb {
    width: 700px;
    position: absolute;
    right: 0px;
    top: 670px;

}

.cardApp {
    width: 410px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 670px;

}

.getintouch {
    background-color: rgb(212, 43, 43);
    color: white;
    border-radius: 20px;
    border-color: rgb(212, 43, 43);
    height: 40px;
    width: 120px;
    font-size: smaller;
    position: absolute;
    left: 320px;
    top: 850px;
}

.imgLamp {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 200px;
    top: 1050px;

}

.ourCompanyTitle {
    color: rgb(212, 43, 43);
    font-size: small;
    position: absolute;
    right: 555px;
    top: 1050px;
}

.someFineTitle {
    color: rgb(37, 37, 156);
    font-size: xx-large;
    position: absolute;
    right: 400px;
    top: 1080px;
    width: 250px;

}

.text {
    color: rgb(37, 37, 156);
    position: absolute;
    left: 700px;
    top: 1190px;
    width: 500px;
 
}

.creativeWorkTitle {
    color: rgb(37, 37, 156);
    width: 250px;
    position: relative;
    top: 400px;
    left: 250px;

}

.col-lg-8 {
    height: 500px;
    position: absolute;
    left: 270px;
    top: 1600px;
    justify-content: space-between;

}

.galeria {
    background-color: rgb(255, 0, 0);
    opacity: 0;
    color: red;

}

