.logo{
    margin-right: 100px;
    margin-top: 20px;
}

.nav-link{
    color: rgb(37, 37, 156);
    font-weight:600;
    margin-top: 20px;
}

.select{
    color: rgb(37, 37, 156);
    border-color: white;
    font-weight:600;
    margin-top: 20px;
    width: 45px;
    position: absolute;
    left: 780px;
}

.botaoContato{
    background-color: white;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-weight:600;
    margin-top: 20px;
    position: absolute;
    left: 850px;
}